.container-estancias {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 90%;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

.container-estancia {
    max-width: 50%;
    width: 100%;
    margin: 1px;
    margin-bottom: 1rem;
}

.videos .carousel-inner .carousel-item.active{
    display: flex;
    justify-content: center;
}

.videos .carousel-inner .carousel-item{
    height:350px;
    background: #000;
}

.videos iframe {
    width: 450px;
    margin: 0 auto !important;
}

@media only screen and (max-width: 991px) {
    .container-estancias {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
        max-width: 98%;
    }
    .container-estancia {
        max-width: 99%;
        width: 100%;
    }
    
    .videos .carousel-inner .carousel-item{
        height:350px;
        background: #000;
    }
    
    .videos iframe {
        width: 300px;
        margin: 0 auto !important;
    }
    
}