*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

header {
    background: #272a2d;
    min-height: 6rem !important;
}

header nav ul li a {
    font-size: 8pt !important;
}

header button.btn-outline-success{
    margin-right: 1rem;
    margin-left: .5rem;
}

header button.btn-success {
    margin-right: calc(1rem + 2px);
}
body::-webkit-scrollbar {
    width: 10px;
    background: #272a2d;
}

body::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 5px;
}

.container-center {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.nav-item {
    margin-right: 0px;
}

.menu {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 1056;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px 16px;
    cursor: pointer;
    transition: .3s;
}

.menu li:hover {
    background: #6e6e6e;
    color: #fff;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noEstructuras {
    text-align: center;
}

@media only screen and (max-width: 991px) {
    nav button.btn {
        margin-top: 1rem;
    }
}