* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-center {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 50px;
    background: #008182;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.5s ease;
}

.logo {
    user-select: none;
    font-size: 25px;
    color: #fff;
    font-weight: 1000;
}

.menu {
    display: flex;
    margin: 0;
}

.menu li {
    list-style: none;
    margin: 10px 20px 0px 0px;
    user-select: none;
}

.menu li a, .menu li span {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover, .menu li span:hover {
    background: #004e4e;
    border-radius: 15px;
}

.menu2 {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #008182;
}

.menu2 li a {
    display: block;
}

.menu li:hover .menu2 {
    display: block;
}

.nav button {
    font-size: 10pt;
    width: 160px;
    height: 40px;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #008182;
}

body::-webkit-scrollbar-thumb {
    background: #00ccce;
    border-radius: 5px;
}