.main {
    display: flex;
    flex-direction: column;
}

.container-infoUser {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}

.container-infoUser button {
    margin-bottom: 1rem;
}

.container-users, .container-tabla-historial {
    border-top: #000 solid 2px;
    padding: 1rem;
}

#tabla-usuarios_wrapper {
    margin-top: 2rem;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}

.noUsuarios {
    text-align: center;
}

#tabla_usuarios .contenido:hover td{
    transition: .3s !important;
    background: #cccccc;
}

#tabla_usuarios .inactivo td {
    background: #dc6767;
    color: #fff;
}
#tabla_usuarios .inactivo:hover td {
    background: #ec4a4a;
}
#tabla-usuarios, #tabla-historial {
    min-width: 600px;
}

.container-buttons-tabla {
    display: flex;
    justify-content: start;
}

.container-buttons-tabla button {
    margin-left: 1rem;
}

div.row {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.row > .col-sm-12.col-md-6 {
    margin-top: .5rem;
}